body{
    color: white;
}

.introduction{
color: white;
}
.brian{
    /* color:blue; */
    background-color:rgb(139, 46, 111);
}
.image{
        width: 100%;
        height: auto;
        border-radius: 50%; 
        /* width: 100px;
        height: 100px; */

}
#projectlist{
    color: aqua;
    
}

#navbarRightAlignExample ul a{
color: white
}
.card-title{
    color: blue;
}
.text{
    font-size:23px;
    color: black;
}
.about {
    color: rgb(36, 4, 32);
}
#span {
    color: violet;
}
#img {
    height: 100%; 
}